#gitigonore file for next.js and expo monorepo project
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage
/playwright-report
/test-results
.turbo
.test-output

# production
/build
/dist
dist

# misc
.DS_Store
.env
.env.activation
.env.hosted
.env.local
.env*.local
/.runtime

# next.js
.next
out

# expo
.expo
.expo-shared
