{
	email {$ACME_EMAIL}
	log {
		output stdout
		format json
	}
}

{$STAGING_WEB_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
	reverse_proxy web:3000
}

{$STAGING_API_DOMAIN} {
	@internal path /metrics
	respond @internal 404

	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
	reverse_proxy api:3333 {
		header_up X-Request-Id {http.request.uuid}
	}
}

{$STAGING_GRAFANA_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
	reverse_proxy grafana:3000
}
